.table-wrapper {
    width: 100%;
    border: 1px solid #e2e8f0;
    border-radius: 16px;
    background-color: white;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: none;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.custom-table thead tr {
    border-bottom: 1px solid #f1f5f9;
}

.custom-table th {
    padding: 16px 20px 12px 20px;
    color: #334155;
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    border: none;
}

.custom-table td {
    padding: 16px 20px;
    font-size: 14px;
    color: #1e293b;
    border-bottom: 1px solid #e2e8f0;
    vertical-align: middle;
}

.custom-table tbody tr:last-child td {
    border-bottom: none;
}